.header-con {
    background-color: #0e0d0bdd;
    color: #efe4dc;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.header-con .title {
    font-family: auto;
    opacity: 100%;
}

.header-con .logo {
    cursor: pointer;
    width: 3em;
}
