.menu-con {
    background-color: #d2cec6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex:1;
    opacity: 75%;
}

.menu-btn{
    background-color: #d2cec6;
    height: 30%;
    border: 0;
    cursor: pointer;
}

.menu-btn:hover{
    background-color: #bab5a9;
    border-radius: 20px 0px 0px 20px;
}

.menu-btn.active{
    background-color: #a49d8e;
    border-radius: 20px 0px 0px 20px;
}

